.dropdown {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

.dropdown.row {
    flex-direction: row;
    align-items: center;
}
.dropdown > div {
    position: relative;
}
.dropdown button {
    border-radius: 32px;
    border: 2px solid var(--color-grey);
    transition: borde-radius ease-in-out 0.3s;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    background: white;
    font-size: 16px;
    padding: 12px 16px;
    width: 100%;
}

.dropdown.sm button {
    padding: 8px 16px;
}

.dropdown button svg {
    transition: transform ease-in-out 0.3s;
}
.dropdown ul {
    display: none;
    overflow: hidden;
    position: absolute;
    width: max-content;
    background-color: var(--color-white);
    border-radius: 24px;
    margin-top: 4px;
    border: 2px solid var(--color-grey);
    z-index: 1;
}
.dropdown.sm ul li {
    padding: 8px 16px;
}
.dropdown ul li {
    padding: 12px 16px;
    cursor: pointer;
}

.dropdown ul li:hover,
.dropdown ul li.active {
    background-color: var(--color-grey);
}

.dropdown.open ul {
    display: block;
}
.dropdown.open button svg {
    transform: rotate(180deg);
}

.dropdown.invalid div {
    border-color: red;
}
