.create-form {
    background-color: var(--color-white);
    border-radius: 32px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-footer {
    display: flex;
    gap: 8px;
    justify-content: right;
}
