.task-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    color: var(--color-black);

    padding: 16px;
    border-radius: 16px;
}

.task-item a:hover {
    background-color: var(--color-black);
}

.task-item a:hover p:not(:last-child) {
    color: white;
}
