.tasks {
    background: white;
    border-radius: 32px;
    padding: 32px;

    > section {
        padding-top: 24px;
        display: none;
    }

    > button {
        border: none;
        background: none;
        width: 100%;

        img {
            transition: transform ease-in-out 0.3s;
        }
    }

    &.open {
        > section {
            display: block;
        }

        > button img {
            transform: rotate(180deg);
        }
    }
}

.tasks-list-header {
    display: flex;
    justify-content: space-between;
}

.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tasks-filter {
    margin-bottom: 16px;
}
