.button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border-radius: 32px;
    border: 2px solid var(--color-black);
    background-color: var(--color-black);
    font-size: 16px;
    color: var(--color-white);
    transition: all ease-in-out 0.3s;
}

.button:hover {
    border-color: var(--color-black-hover);
    background-color: var(--color-black-hover);
}

.button.small {
    padding: 8px 16px;
}

.button.inverted {
    border-color: var(--color-white);
    color: var(--color-white);
}

.button.inverted:hover {
    background-color: var(--color-black);
    border-color: var(--color-white-hover);
    color: var(--color-white-hover);
}

.button.secondary {
    background-color: var(--color-white);
    color: var(--color-black);
}
.button.secondary:hover {
    background-color: var(--color-white);
    border-color: var(--color-white-hover);
    color: var(--color-white-hover);
}

.button.tertiary {
    border: 0;
    background-color: transparent;
    color: var(--color-black);
}
.button.tertiary:hover {
    background-color: var(--color-grey);
}

.button > svg {
    height: 20px;
}

.button.icon {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: var(--color-white-hover);
}
