.status-O {
    padding: 4px 8px;
    border-radius: 16px;
    background-color: var(--color-grey);
}

.status-P {
    padding: 4px 8px;
    border-radius: 16px;
    background-color: var(--bg-yellow);
}

.status-C {
    padding: 4px 8px;
    border-radius: 16px;
    background-color: var(--bg-green);
}
