/* global */
:root {
    --color-grey: #f3f3f3;
    --bg-yellow: #fffce3;
    --bg-green: #e5ffde;
    --color-white: white;
    --color-white-hover: #888;
    --color-black: black;
    --color-black-hover: #222;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Roboto";
    background-color: var(--color-grey);
}

h1 {
    font-size: 36px;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    display: block;
}

main {
    padding-top: 40px;
}

label {
    font-weight: bold;
}

/* classes */
.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 16px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container.gap-sm {
    gap: 24px;
}

.font-cursive {
    font-family: "Beth Ellen", cursive;
}

.error-message {
    color: red;
}

@media (min-width: 768px) {
    .container {
        padding: 0 24px;

        gap: 60px;
    }
    main {
        padding-top: 60px;
    }
}

@media (min-width: 1440px) {
    .container {
        padding: 0 80px;
    }
}
